<!DOCTYPE html>
<html>

<head>
    <title>Cards</title>
    <link rel="stylesheet" type="text/css" href="../css/cards.css">
</head>

<body>
    <div class='main'>
        <!--cards -->
        <div class='cards'>
            <div class='image'>
                <img src="../images/pepsi.jpg">
            </div>
            <div class='title'>
                <h1>Title</h1>
            </div>
            <div class="des">
                <p>Title Description</p>
                <form id='1' method="POST" action="/item/confirmation/pepsi">
                    <button>Buy</button>{{amount}}
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/sprite.jpg">
            </div>
            <div class='title'>
                <h1>Title</h1>
            </div>
            <div class="des">
                <p>Title Description</p>
                <form id='2' method="POST" action="/item/confirmation/sprite">
                    <button>Buy</button>
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/lays.jpg">
            </div>
            <div class='title'>
                <h1>Title</h1>
            </div>
            <div class="des">
                <p>Title Description</p>
                <form id='3' method="POST" action="/item/confirmation/lays">
                    <button>Buy</button>
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/kurkure.jpg">
            </div>
            <div class='title'>
                <h1>Title</h1>
            </div>
            <div class="des">
                <p>Title Description</p>
                <form id='4' method="POST" action="/item/confirmation/kurkure">
                    <button>Buy</button>
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/dairymilk.jpg">
            </div>
            <div class='title'>
                <h1>Title</h1>
            </div>
            <div class="des">
                <p>Title Description</p>
                <form id='5' method="POST" action="item/confirmation/dairymilk">
                    <button>Buy</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>