<!DOCTYPE html>
<html>

<head>
    <title>Cards</title>
    <link rel="stylesheet" type="text/css" href="../css/cards.css">
</head>

<body>
    <div class='main'>
        <!--cards -->
        <div class='cards'>
            <div class='image'>
                <img src="../images/7-pepsi.png">
            </div>
            <div class='title'>
                <h1>Pepsi</h1>
            </div>
            <div class="des">
                <p>Qty-1 Rs.20</p>
                <form id='1' method="POST" action="/item/confirmation/{{amount}}/pepsi">
                    <button>Buy</button>
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/sprite.jpg">
            </div>
            <div class='title'>
                <h1>Sprite</h1>
            </div>
            <div class="des">
                <p>Qty-1 Rs.20</p>
                <form id='2' method="POST" action="/item/confirmation/{{amount}}/sprite">
                    <button>Buy</button>
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/lays.jpg">
            </div>
            <div class='title'>
                <h1>Lays</h1>
            </div>
            <div class="des">
                <p>Qty-1 Rs.10</p>
                <form id='3' method="POST" action="/item/confirmation/{{amount}}/lays">
                    <button>Buy</button>
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/kurkure.jpg">
            </div>
            <div class='title'>
                <h1>Kurkure</h1>
            </div>
            <div class="des">
                <p>Qty-1 Rs.10</p>
                <form id='4' method="POST" action="/item/confirmation/{{amount}}/kurkure">
                    <button>Buy</button>
                </form>
            </div>
        </div>
        <div class='cards'>
            <div class='image'>
                <img src="../images/dairymilk.jpg">
            </div>
            <div class='title'>
                <h1>Dairy Milk</h1>
            </div>
            <div class="des">
                <p>Qty-1 Rs.10</p>
                <form id='5' method="POST" action="item/confirmation/{{amount}}/dairymilk">
                    <button>Buy</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>