<!DOCTYPE html>
<html>

<head>
    <title>Deliver</title>
    <link rel="stylesheet" type="text/css" href="../css/cards.css">
</head>

<body>
    <div class='main'>
        <div class='title'>
            <h1>Take the Item</h1>{{path}}
        </div>
       
        <div class='cards'>
            <div class='image'>
                <img src="../images/{{item}}.jpg">
            </div>
            
        </div> 
        <div class='cards'>
           
            <div class='title'>
                <h1>Your Balance is {{bal}}</h1>
            </div>
            
        </div> 
    </div>
</body>

</html>